image: php:5.6

stages:
  - build
  - test
#  - deploy

#before_script:
#  - ci/docker_install.sh
#  - ci/composer_installer.sh
#  - composer install

install-deps:
  stage: build
  script:
    - ci/docker_install.sh
    - ci/composer_installer.sh
    - composer install
    - php -i
  artifacts:
    expire_in: 1h
    paths:
      - vendor/

test:code-style:
  stage: test
  script:
    - vendor/bin/phpcs --standard=PSR2 lib/ src/ tests/ web/
    
test:phpunit:
  stage: test
  script:
    - vendor/bin/phpunit -c phpunit.gitlab-ci.xml
